*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-image: url(img/orange-question-mark-background-with-text-space_1017-27394.avif);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acordion{
  width:65%;
  background-color: white;
  padding: 30px;
  border-radius:30px;
}

.acordion .acordion-title{
  margin-bottom: 30px;
  text-align: center;
}

.acordion .content-conteiner .question{
  padding: 18px 0px;
  font-size: 1.7rem;
  cursor: pointer;
  border-bottom: 1px solid black;
  position: relative;
}
.acordion .content-conteiner .question::after{
  content:'+';

  position: absolute;
  right: -5px;
}

.acordion .content-conteiner .answer{
  padding-top: 15px;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: .5s;
}

/*Java Styling Link*/

.acordion .content-conteiner.active .answer{
  height: 150px;
}

.acordion .content-conteiner.active .question{
  font-size: 1.5rem;
  transition: .5s;
}

.acordion .content-conteiner.active .question::after{
  content: '-';
  font-size: 30px;
  transition: .5s;
}