html {
  font-size: 16px;
  margin: 20px;
  background-color: black;
}

header {
  display: flex;
  color: aliceblue;
}

.conteiner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.35rem;
}

.list a {
  color: aliceblue;
  text-decoration: none;
}

.banner {
  background-image: url(img/restaurant.jpg);
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  margin-top: 50px;
}

.sub-title {
  color: gold;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 15px;
  text-shadow: 8px 8px black;
}

.sub-title:hover {
  translate: 15px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  font-size: 2.5rem;
  border: 2px solid gold;
}

.drinks {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  color: aliceblue;
  font-size: 1.5rem;
}

.drinks h1:hover {
  color: gold;

}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.photos img:hover {
  box-shadow: 0 8px 8px 0 gold;
}

#img-drinks {
  width: 20%
}



.food {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  font-size: 1.5rem;
}

.food h1:hover {
  color: gold;
}

.img-food:hover {
  box-shadow: 0 8px 8px 0 gold;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.tab-titles {
  display: flex;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  width: 30%;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  display: block;
  list-style: none;
}

.tab-contents ul li span {
  color: white;
  font-size: 25px;
  margin: 0;
}

.tab-contents {
  display: none;

}

.tab-contents.active-tab {
  display: block;

}

li {
  color: gold;
  font-size: 1.10rem;
  width: 100%;
}

.ing ul {
  display: flex;
  flex-direction: inherit;
  gap: 15px;
}

.third {
  margin-top: 50px;
  background-image: url(img/image.png);
  background-position: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  text-align: center;
  font-size: 2rem;
  display: block;
  color: gold;
}

.adress {
  font-size: 1.5rem;
  color: gold;
}

@media only screen and (max-width:680px) {
  #img-drinks {
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media only screen and (max-width:680px) {

  .tab-links,
  .tab-titles {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;


  }

}

