html{
  font-size:16px;
  margin: 20px;
  background-color: black;
}

header{
  display: flex;
  color: aliceblue;
}
.conteiner{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.list ul{
  display: flex;
  gap:20px;
  list-style: none;
  font-size: 1.35rem;
}

.list a{
  color: aliceblue;
  text-decoration: none;
}

.banner{
  background-image: url(img/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-title{
  color: gold;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 15px;
  text-shadow: 8px 8px black;
}
.sub-title:hover{
  translate: 15px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  font-size: 2.5rem;
}
.drinks{
  margin-top: 20px;
  display: flex;
  justify-content:space-around ;
  color: aliceblue;
  font-size: 1.5rem;
}
.drinks h1:hover{
  color:gold;
  
}
.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.photos img:hover{
  box-shadow: 0 4px 8px 0 gold;
}
img{
  width:300px;
  height: 300px;
}

/*@media only screen and (max-width:680px){
  .sub-title{
    color:purple;
  }
}